body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";}
input,a{outline:none;}
.fr{
    float:right;
}
.fl{
    float:left;
}

#top{
    img{
        width:100%;
    }
}  
#links{
    height:30px;
    background:#f2f2f2;
    .link-middle{
        width:1210px;
        position:relative;
        margin:0 auto;
        li{
            cursor: pointer;
        }
        li.hover a{
            color:#c69c6d;
        }
        .links-left{
            float:left;
            li{
                float:left;
                height:30px;
                padding:0 19px; 
                position:relative;  
                line-height: 30px;
                text-align:center;
                .home{
                    display:inline-block;
                    width:16px;
                    height:14px;
                    background:url(../img/home.png) no-repeat center;
                }
                .tell{
                    display:inline-block;
                    width:25px;
                    height:30px;
                    float:left;
                    background:url(../img/brandstore_share.png) no-repeat -348px -338px;
                }
                a{
                    font-size:12px;
                }
            }
          
        }
        .link-right{
            float:right;           
            > ul{
                > li{
                float:left;
                height:30px; 
                padding:0 19px; 
                position:relative; 
                border:1px solid #f2f2f2;
                border-bottom:0;            
                a{
                    display:inline-block;
                    line-height:30px;
                    font-size:12px;
                }
                span{
                    width:22px;
                    height:24px;
                    background:url(../img/youli.gif) no-repeat;
                    float:left;
                    margin-right:5px;
                }
            }
        }
            li:nth-child(3) em{
              width:9px;
              display: inline-block;
              height:5px;  background:url(../img/brandstore_share.png) no-repeat -236px -302px;
                
            }
             li:nth-child(5){
                em{
                width:9px;
                display: inline-block;
                height:5px;  background:url(../img/brandstore_share.png) no-repeat -236px -302px;}
                 b{
                width:14px;
                display: inline-block;
                height:14px;  background:url(../img/brandstore_share.png) no-repeat -288px -378px; 
              }
              .right{
                  width:131px;
                  border:1px solid #DFDFDF;
                  border-top:0;
                  position: absolute;
                  left:-1px;
                  background:white;
                  display: none;
                  z-index:9;
                  li{
                      text-align: center;
                      font-size:14px;
                      i{
                            color:red;
                            font-style: normal;
                            font-size:16px;
                        }
                        img{
                            margin:0 auto;
                        }
                    }
                  
              }
            } 
             
                
           
            li:nth-child(1).hover a,li:nth-child(5).hover a{
                
                color:red!important;
               
            }
            li:nth-child(5).hover{
                border:1px solid #DFDFDF;
                background:white;
                em{
                    width:9px;
                    display: inline-block;
                    height:5px;  background:url(../img/brandstore_share.png) no-repeat -351px -476px;}
                b{
                    width:14px;
                    display: inline-block;
                    height:14px;  background:url(../img/brandstore_share.png) no-repeat -288px -413px; 
              }
                
            }
            > ul>li:nth-child(3).hover{
                background:#fff;
                border:1px solid #DFDFDF;
                em{
                   width:9px;
                   display: inline-block;
                   height:5px;  background:url(../img/brandstore_share.png) no-repeat -351px -476px;
                
            }
                
            }
            .secondM{
               position: absolute;
               left:-1px;
               background:white;
               border:1px solid #DFDFDF;
               border-top:0;
               width:123.5px;
               z-index:9;
               display:none;
                > li{
                    text-align: center;
                    padding:0;
                    clear:both;
                    width:123.5px;
                   > a{
                        color:#333; 
                    }
                   
                    &.hover a{
                        color:red;
                    }
                }
            }  
        }
       strong{
            display:inline-block;
            height:12px;
            border-left:1px solid #dfdfdf;
            position:absolute;
            right:0;
            top:9px;
        }
        
    }
     
    
}
#header{
    width:1210px;
    position:relative;
    height:110px;
    margin:0 auto;
    #logo{
        width:244px;
        height:110px;
        position: absolute;
        left:0;
        top:0;
    }
    .yijian{
        width:142px;
        height:80px;
        left:290px;
        top:14px;
        position: absolute;
    }
    .search{
        position: absolute;
        left:485px;
        top:36px;
        form{
            width:348px;
            height:38px;
            position: relative;
            #txt{
                width:261px;
                border:2px solid #c69c6d;
                height:32px;
                float:left;
            }
            #find
            {
                width:82px;
                float:left;
                height:38px;
                background:#c69c6d;
                border:0;
                color:white;
            }
            #tip{ 
                position:absolute;
                top:38px;
                overflow: hidden;
                background:#fff;
                border:1px solid #D4D4D4;
                z-index:5;
                
                li{
                    float:left;
                    font-size:12px;
                    color:#fff;
                    margin:4px;
                    &:hover a{
                        color:#DE3A3A;
                    }
                }
            }
            
        }
        #note li{
                float:left;
                margin-right: 23px;
                a{
                    font-size:12px;
                    color:#999999;
                }
                &:hover a{
                    color:red;
                }
            }
           
    }
    .blue{
        width:320px;
        position:absolute;
        right:10px;
        top:35px;
        #picture{
            display: inline-block;
            width:200px;
        }
        #hide{
            display: none;
        }
        .cart{
            border:1px solid #DFDFDF;
            width:94px;
            height:30px;
            position:absolute;
            line-height:30px;
            margin-left:18px;
            font-size:12px;
            background:white;
            box-shadow: 0 0 1px #999999;
            right:0;
            top:0;
            > img{
                float:left;
                margin:0 16px 0 10px;
            }
            > #cartnum{
                color:red;
            }
            > #go{
                float:right;
                color:#6e6e6e;
                font-weight: 700;
            } 
             
        }
         .erji{
                position: absolute;
                right:0;
                top:29px;
                border:1px solid #DFDFDF;
                box-shadow: 0 0 1px #999999;
                width:268px;
                background:#fff;
                z-index:3;
                display: none;
                li{
                    width:268px;
                    text-align:center;
                    p{
                        font-size:12px;
                        margin:10px 0;
                    }
                
                }
            }
    }
    .blue:hover{
       #hide{
           display:block;
       }
       #show{
           display:none;
       }
    }
}
.nav{
    width:100%;
    height:38px;
    background:url(../img/navi_1pxbg.png) repeat-x;
    .nav-con{
        width:1210px;
        margin:0 auto;
        position: relative;
        .first{
            background:#cf0101;
           a{
              color:#fff; 
           } 
           .down{
               position: absolute;
               z-index:6;
               width:98px;
               background:#f4f5f7;
               left:0;
               display: none;
               top:38px;
               li {
                   //text-align:center;
                   padding:0;
                   width:98px;
                   position:relative;
                   a{
                       display: inline-block;
                       width:98px;
                       color:#333;
                       text-indent: 40px;
                    }
               }
               
               li:hover{
                   .third{
                       display:block;
                       a:hover{
                           color:#A60000;
                       }
                   }
               }
               .third{
                   position: absolute;
                   display:none;
                   left:98px;
                   top:0;
                   background:#fff;
                   //border:1px solid #E4E4E4;
                   width:800px;
                   min-height:220px;
                  > div{
                       border-bottom:1px dashed #d7d7d7;
                       margin-bottom:8px;
                   }
          
                   h2{
                       color:#cf0201;
                       font-weight: 700;
                       font-size:14px;
                       margin-left:30px;
                   }
                   a{
                       color:#8c8a8a;
                   }
                   
               }
               > li{
                   background:url(../img/brand_category2.png) no-repeat ;
               }
               .pp{
                   background-position: -3px -5px;
               }
               .xb{
                   background-position: -3px -36px;
               }
               .mz{
                   background-position: -3px -68px;
               }
               .fz{
                   background-position: -3px -100px;
               }
               .wb{
                   background-position: -3px -132px;
               }
               .ps{
                   background-position: -3px -164px;
               }
               .xx{
                   background-position: -3px -196px;
               }
               .my{
                  background-position: -3px -228px; 
               }
               .mj{
                   background-position: -3px -260px;
               }
               .ms{
                   background-position: -3px -292px;
               }
               .jj{
                   background-position: -3px -324px;
               }
               .dz{
                   background-position: -3px -356px;
               }
               .bg{
                   background-position: -3px -388px;
               }
               .lp{
                   background-position: -3px -420px;
               }
               .hw{
                   background-position: -3px -452px;
               }
               
           }
           &:hover{
               .down{
                   display: block;
               }
           }
        }
        .oversea{
            width:100px;
            height:38px;
            background:url(../img/overseaslogo.gif) no-repeat ;
          
        }
        > li:hover a{
            color:#fff;
        }
    }
    
    li{
        float:left;
        padding: 0 25px;
        .mall{
            background:url(../img/share02.png) no-repeat -58px -169px;
            display: inline-block;
            margin-right:7px;
            width:19px;
            height:40px;
            float:left;
        }
    }
    
    li a{
        color:#c8a985;
        font-size:12px;
        display: inline-block;
        height:38px;
        line-height: 38px;
    }
    .right-link {
        span{
            width: 30px;
            height: 40px;
            line-height: 40px;
            display: inline-block;
        }
        .zheng{
           background:url(../img/share02.png) no-repeat -237px -66px; 
        }
        .vip{
           background:url(../img/share02.png) no-repeat -296px -66px;  
        }
        .ball{
            background:url(../img/share02.png) no-repeat -354px -66px; 
        }
    }
}
//footer
#footer_message_bg{
    background: url(../img/footer_message_bg.jpg) center;
    border-top: 1px solid #c9c9c9;
}
#footer_message{
    width: 1210px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    p{
        font-size: 12px;
        margin-top:10px;
    }
}
#footer_message a{
    color: #333;
    font-size: 12px;
}
#footer_message a:hover{
    text-decoration: underline;
} 
#footer_message .footer_message_top{
    height: 116px;
    border-bottom: 1px solid #c9c9c9;
    clear: both;
}
.footer_message_top li{
    width: 242px;
    height: 64px;
    float: left;
    margin-top: 26px;
}
.footer_message_top img{
    width: 64px;
    height: 64px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 5px;
    cursor: pointer;
    vertical-align: top;
    float: left;
}
.footer_message_top01_r{
    display: inline-block;
    float: left;
    width: 160px;
    height: 48px;
    margin-top: 8px;
}
.footer_message_top01_r .p1{
    font-weight: bold;
}
#footer_message .footer_message_ctr{
    height: 283px;
    clear: both;
}
.footer_message_ctr_l{
    float: left;
}
.footer_message_ctr_l li{
    width: 185px;
    overflow: hidden;
    float: left;
}
.footer_message_ctr_l span{
    display: block;
}
.footer_message_ctr_l .sp01{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000;
}
.footer_message_ctr_l a:hover{
    text-decoration: underline;
}
.footer_message_ctr_l .pht_app{
    width: 140px;
    height: 283px;
}
.pht_app img{
    display: block;
    width: 80px;
    height: 80px;
    vertical-align: top;
}
.footer_message_ctr_l .pht_weibo{
    width: 125px;
    height: 283px;
}
.pht_weibo img{
    display: block;
    width: 80px;
    height: 80px;
    vertical-align: top;
}
#footer_message .footer_message_btm a{
    color: #fff;
}
#footer_message .footer_message_btm{
    text-align: center;
    color: #fff;
}
.footer_message_btm_t{
    line-height: 66px;
}
.footer_message_btm_b{
    margin-top: 23px;
    overflow: hidden;
    position: absolute;
    width:333px;
    left:0;
    right:0;
    margin:auto;
    bottom:20px;
}
.footer_message_btm_b img{
    float:left;
    width: 108px;
    height: 40px;
    margin-right:3px;
}
#asidebtn{
  height:100%;
  position:fixed;
  top:0;
  right:0;
  width:37px;
  z-index: 99;
  .btnmessage{
      overflow: hidden;
      height:100%;
  }
   li{
         background:#333;
         margin-bottom:1px;
         border-top-left-radius: 5px;
         border-bottom-left-radius: 5px; 
         display:block;
         position: relative;
         height:35px;
         cursor:pointer;
         z-index:9;
         vertical-align: top;
         padding-bottom:1px; 
         
         .menumess{
             display:none;
             position:absolute;
             z-index:9999;
             right:35px;
             top:0;
             width:99px;
             height:33px;
             line-height:33px;
             text-align:center;
             color:rgb(54,54,54);
             background:rgb(255,255,255);
             font-size:14px;
             border-width:1px 1px 1px;
             border-style:solid none solid solid;
             border-color:rgb(228,228,228) rgb(228,228,228) rgb(228,228,228);
             border-right:none;
         }
         .wechat{
             
             position: absolute;
             top:0;
             right:35px;
             width:124px;
             height:135px;
             background:#fff;
             z-index:9999;
             cursor: default;
             border:1px solid #e4e4e4;
             border-right:0;
         }
         a{
             width:35px;
             height:35px;
             cursor: pointer;
            // position:relative;
             display: block;
          
         }
      }
  .topone{     
        position:absolute;
        z-index: 2;
        top: 30%;
        left: 0;
        width:35px;
        height:234px;   
              
      .l1{
          
            .menumess{
             opacity: 0;
        }
    }
      
      .l1 a{
         background: url(../img/share02.png) no-repeat -88px -156px;
         &:hover{
             background: url(../img/share02.png) no-repeat -88px -123px;
             
            
         }
             
    }
      .l2 a{
          background: url(../img/share02.png) no-repeat -140px -154px;
           &:hover{
             background: url(../img/share02.png) no-repeat -88px -123px;
             
         }
      }
      .l3 a{
           background: url(../img/share02.png) no-repeat -202px -155px;
            &:hover{
             background: url(../img/share02.png) no-repeat -202px -123px;
             
         }
       }
      .l4 a{
           background: url(../img/share02.png) no-repeat -258px -125px; 
            &:hover{
             background: url(../img/share02.png) no-repeat -258px -123px;
             
         }
      }
    
  }
  .bottomone{
 
      position:absolute;
      width:35px;
      height:140px;
      left:0;
      bottom:35px;
      z-index: 2;      
      .l5 a{
          background: url(../img/share02.png) no-repeat -312px -155px;
           &:hover{
             background: url(../img/lux_index.png) no-repeat -475px -52px;
             
         }
        }
      .l6 a{
           
           background: url(../img/share02.png) no-repeat -374px -157px; 
            &:hover{
             background: url(../img/lux_index.png) no-repeat -124px -52px;
             
         }     
        }
      
      .l7 a{ 
          
          background: url(../img/line_bg.png) no-repeat 10px 9px;
           &:hover{
             background: url(../img/line_bg.png) no-repeat 10px -19px;
             
         }
          
        }
      
      .l8 a{ 
          
          background: url(../img/share02.png) no-repeat -437px -153px; 
           &:hover{
             background: url(../img/lux_index.png) no-repeat -401px -52px;
             
         }     
        }
    }
}    

