.login-header {
        height: 98px;
}

.login-header .login-header-center {
        width: 1210px;
        height: 100%;
        margin: 0 auto;
        font-size: 0;
}

.login-header .login-header-center .fivelux-logo {
        display: inline-block;
        height: 98px;
        width: 244px;
        background-size: 244px 98px;
        background-repeat: no-repeat;
        background-image: url(../img/5luxlogo.jpg);
}

.login-header .login-header-center .header-line {
        display: inline-block;
        width: 2px;
        height: 44px;
        vertical-align: middle;
        background-color: #ccc;
        margin: 0 18px;
}

.login-header .login-header-center .header-text {
        display: inline-block;
        font-size: 22px;
        color: #999;
        vertical-align: middle;
}

.login-header .login-header-center .header-right {
        display: table;
        font-size: 0;
        height: 100%;
}

.login-header .login-header-center .header-right i {
        display: inline-block;
        width: 19px;
        height: 19px;
        padding-right: 10px;
        background-image: url(../img/phone-logo.png);
        background-size: 19px 19px;
        background-repeat: no-repeat;
        vertical-align: middle;
}

.login-header .login-header-center .header-right p {
        display: inline-block;
        color: #666;
        font-size: 13px;
        vertical-align: middle;
}

.login-warpper {
        width: 100%;
        height: 583px;
        text-align: center;
}

.login-warpper .login-center-wp {
        position: relative;
        width: 1210px;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin: 0 auto;
}

.login-warpper .login-center-wp .login-c-right {
        width: 400px;
        float: right;
        margin-right: 40px;
        padding: 30px 0;
}

.login-c-right .log-title {
        margin: 0 20px;
        margin-top: 34px;
        font-size: 20px;
        line-height: 20px;
        height: 20px;
        color: #999;
}

.login-c-right .log-title .log-title-list {
        font-size: 20px;
        line-height: 20px;
        font-weight: 400;
        width: 49%;
        text-align: center;
        cursor: pointer;
}

.login-c-right .rigister-title {
       padding: 35px 0;
       font-size: 20px;
       height: 20px;
       line-height: 20px;
       text-align: center;
       color: #000;
}

.login-c-right .log-title .list-active {
        color: #000;
}

.log-body {
        width: 100%;
        height: 380px;
}

.log-body .is-hook {
        height: 100%;
}

.log-body .is_user #submit {
        padding-top: 20px;
}

.log-body .is_user #submit .inp-hook {
        display: block;
        margin: 0 31px;
        margin-top: 16px;
        width: 296px;
        height: 48px;
        border: 1px solid #CCC;
        padding: 0 20px;
        font-size: 14px;
}

.log-body .is_user #submit .error-tip {
        width: 338px;
        margin: 0 31px;
        height: 54px;
}

.sub-btn {
        transition: all linear 0.5s;
        width: 338px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: #fff;
        background: #333;
        margin: 0 31px;
        font-size: 18px;
        border: none;
        cursor: pointer;
}
.sub-btn:hover{
        background: #a60000;
}

.sub-bottom {
        margin: 0 31px;
        margin-top: 20px;
        height: 14px;
        line-height: 14px;
        font-size: 0;
        color: #999;
}

.sub-bottom .sub-bottom-left label {
        display: inline-block;
        vertical-align: middle;
        width: 14px;
        height: 14px;
        background-image: url(../img/is_yes_bg.png);
        background-size: 14px 14px;
        background-repeat: no-repeat;
        cursor: pointer;
}

.sub-bottom .sub-bottom-left label i {
        display: none;
        width: 14px;
        height: 14px;
        background-size: 14px 14px;
        background-repeat: no-repeat;
        background-image: url(../img/is_yes.png);
}

.sub-bottom .sub-bottom-left label input:checked+i {
        display: inline-block;
}

.sub-bottom .sub-bottom-left p {
        display: inline-block;
        font-size: 14px;
        vertical-align: middle;
        margin-left: 5px;
}

.sub-bottom .sub-bottom-right {
        height: 100%;
        font-size: 14px;
}

.sub-bottom .sub-bottom-right a {
        color: inherit;
        text-decoration: none;
}

.log-body .is_user #submit .error-tip .error-tip-wp {
        font-size: 0;
        display: inline-block;
        color: #f62b0f;
        height: 14px;
        line-height: 14px;
        margin: 20px 0;
        
        /*cursor: pointer;*/
}

.error-tip .error-tip-wp .tip-logo {
        display: inline-block;
        width: 14px;
        height: 14px;
        background-image: url(../img/close.png);
        background-size: 14px 14px;
        background-repeat: no-repeat;
        vertical-align: middle;
}

.error-tip .error-tip-wp .tip-text {
        height: 14px;
        line-height: 14px;
        font-size: 12px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
}

/*.log-body .is_user #submit .inp-hook:focus {
        border: 1px solid #f62b0f;
}*/

.other-type {
        height: 16px;
        width: 100%;
        background: url(../img/other-type.jpg) 100% 100% no-repeat;
}

.is_ot {
        height: 74px;
        position: relative;
        margin: 0 94px;
}

.ul-hook {
        position: absolute;
        width: 100%;
        height: 32px;
        top: 0;
        bottom: 0;
        margin: auto;
}

.is_ot .li-hook {
        height: 32px;
        width: 33.333333333%;
        float: left;
        text-align: center;
}

.is_ot .li-hook i {
        width: 32px;
        height: 32px;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: 32px 32px;
        cursor: pointer;
}

.is_ot .li-hook .is_wx {
        background-image: url(../img/is_wx.png);
}

.is_ot .li-hook .is_qq {
        background-image: url(../img/is_qq.png);
}

.is_ot .li-hook .is_wb {
        background-image: url(../img/is_wb.png);
}

.is_ot .li-hook .is_wx_s {
        background-image: url(../img/is_wx_sel.png);
}

.is_ot .li-hook .is_qq_s {
        background-image: url(../img/is_qq_sel.png);
}

.is_ot .li-hook .is_wb_s {
        background-image: url(../img/is_wb_sel.png);
}