#main{
    width:100%;
    .main-title{
        margin:40px auto 28px;
        width:1210px;
        
    }
    .main-list{
        width:1210px;
        margin:0 auto;
        display: flex;
        align-content: space-between;
        li{
            position:relative;
            flex:1;
            .up{
                position:absolute;
                left:30px;
                bottom:1px;
                width:174px;
                height:154px;
                overflow: hidden;
                z-index: 1;
                .all{
                    width:106px;
                    height:154px;
                    padding:0 34px;
                    background:#fff;
                    position: absolute;
                    top:100px;
                    img{
                        width:60px;
                        margin:10px auto 3px;
                        
                    }
                    .slide{
                        height:30px;
                        line-height:0;
                        text-align: center;
                    }
                    .slide>span{
                        width:20px;
                        height:2px;
                        background:#000;
                        display: inline-block;
                    }
                    .stxt{
                        text-align:center;
                        font-size:14px;
                        color:#000;
                    }
                }
            }
        }
        
    }
    .rm{
       overflow: hidden;
       margin:0 auto;
       width:1210px;
        
        > img{
            float:left;
        }
    }
    .right-btn{
        float:right;
        padding-top:23px;
        padding-right:15px;
        .left_btn{
            background:url(../img/share02.png) no-repeat -160px -384px;
            display: inline-block;
            width:8px;
            height:15px;
        }
        .right_btn{
            background:url(../img/share02.png) no-repeat -180px -384px;
            margin-left:20px;
            display: inline-block;
            width:8px;
            height:15px;
            
        }
    }
    .flag{
        height:180px;
        width:1210px;
        position: relative;
        overflow: hidden;
        margin:0 auto;
        .flagbox{
            width:3630px;
            left:0;
            position:absolute;
            top:0;
            overflow: hidden;
            li{
                float:left;
                width:1210px;
                .hotflag{
                    position:relative;
                    float:left;
                    width:107px;
                    height:55px;
                    padding:14px 29px;
                    border:1px solid #dfdfdf;
                    margin-right:5px;
                    margin-bottom:7px;
                    > img{
                        width:107px;
                        height:54px;
                    }
                    .showflag{
                        position: absolute;
                        left:29px;
                        top:14px;
                        opacity: 0;
                        width:107px;
                        height:42px;
                        padding-top:12px;
                        background:#fff;
                        .chname{
                            font-size:18px;
                            text-align:center;
                        }
                        .blackline{
                            margin-top:5px;
                            text-align: center;
                            line-height: 0;
                            > span{
                                display: inline-block;
                                width:20px;
                                height:2px;
                                background:#000;
                            }
                        }
                    }
                    .topline{
                        width:0;
                        height:1px;
                        position: absolute;
                        top:-1px;
                        left:0;
                        background:#000;
                    }
                    .bottomline{
                        width:0;
                        height:1px;
                        position: absolute;
                        bottom:-1px;
                        right:0;
                        background:#000;
                    }
                    .leftline{
                        width:1px;
                        height:0;
                        position:absolute;
                        top:-1px;
                        left:-1px;
                        background:#000;
                    }
                    .rightline{
                        width:1px;
                        height:0;
                        position:absolute;
                        right:-1px;
                        bottom:-1px;
                        background:#000;
                    }
                }
            }
        }
    }
}
#life{
    width:100%;
    .main-title{
        margin:40px auto 28px;
        width:1210px;
        
    }
}
