#registSubmit{
	padding-top: 20px;
}
#registSubmit .inp-hook {
        display: block;
        margin: 0 31px;
        margin-top: 16px;
        width: 296px;
        height: 48px;
        border: 1px solid #CCC;
        padding: 0 20px;
        font-size: 14px;
}

#registSubmit .error-tip {
        width: 338px;
        margin: 0 31px;
        height: 54px;
}

.rig-bottom {
    padding-bottom: 30px;
    margin: 0 31px;
    margin-top: 20px;
    height: 14px;
    line-height: 14px;
    font-size: 0;
    color: #999;
}

.rig-bottom label {
       cursor: pointer;
       display: inline-block;
       height: 14px;
       width: 14px;
       background-image: url(../img/is_yes_bg.png);
       background-repeat: no-repeat;
       background-size: 14px 14px;
       vertical-align: middle;
       margin-right: 5px;
}
.rig-bottom label input {
    display: none;
}
.rig-bottom label i {
    display: none;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-image: url(../img/is_yes.png);
}
.rig-bottom label input:checked+i {
    display: inline-block;
}
.rig-bottom p,.rig-bottom a {
    display: inline-block;
    font-size: 13px;
    height: 14px;
    line-height: 14px;
    vertical-align: middle;
}
.rig-bottom a {
    text-decoration: none;
}
.rig-bottom .fir-link {
    color: #333;
}
.rig-bottom p {
    color: #999;
}
.rig-bottom .sec-link {
    color: #ff9900;
}
